<span 
  class="
    bg-blue-100 
    text-sm sm:text-base 
    font-medium 
    me-2 
    px-3 sm:px-4 
    py-1 sm:py-1.5 
    rounded-full 
    dark:bg-blue-900 
    dark:text-blue-300 
    hover:scale-105 
    hover:bg-white/10 
    transition-all 
    duration-300
  "
>
  <slot/>
</span>